*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Quicksand',sans-serif;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#ffd6ea,#ffc0cb);

}

.container{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.lock-card{

    background:white;

    width:420px;

    padding:40px;

    border-radius:25px;

    text-align:center;

    box-shadow:0 15px 35px rgba(0,0,0,.2);

}

.lock-card h1{

    font-size:70px;

}

.lock-card h2{

    margin-top:15px;

    color:#ff4d94;

}

.lock-card p{

    margin:20px 0;

    color:#666;

}

input{

    width:100%;

    padding:15px;

    border-radius:15px;

    border:2px solid pink;

    font-size:18px;

    outline:none;

}

button{

    width:100%;

    margin-top:20px;

    padding:15px;

    border:none;

    border-radius:15px;

    background:#ff5ca8;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#ff2f8f;

}

#error{

    color:red;

    margin-top:15px;

}
