*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Quicksand',sans-serif;

    background:#ffd6ea;

}

.screen{

    width:100%;
    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

}

.hidden{

    display:none;

}

.card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:25px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.card h1{

    font-size:70px;

}

.card h2{

    color:#ff4d94;

    margin-top:15px;

}

.card p{

    margin:20px 0;

}

input{

    width:100%;

    padding:15px;

    border:2px solid pink;

    border-radius:15px;

    font-size:18px;

}

button{

    width:100%;

    padding:15px;

    margin-top:20px;

    border:none;

    border-radius:15px;

    background:#ff4d94;

    color:white;

    cursor:pointer;

    font-size:18px;

}

button:hover{

    background:#ff2f87;

}

#error{

    color:red;

    margin-top:15px;

}

.title{

    color:#ff4d94;

    margin-bottom:30px;

}

.gallery{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

    justify-content:center;

}

.photo{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:20px;
    display:block;
}

.photo.show{

    opacity:1;

    transform:scale(1);

}
